<div class="row">
  <div class="col-md-6">

    <div class="form-group">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" [(ngModel)]="userDto.email" />

      <label class="form-label">Password</label>
      <input type="password" class="form-control" [(ngModel)]="userDto.password"/>

    </div>
    <div class="form-group">

      <button class="btn btn-outline-success" (click)="login()">Ingresar</button>
      <button class="btn btn-success">Crear Cuenta</button>
    </div>

  </div>
</div>
