<div class="row">
  <div class="col-md-6">

    <div class="form-group">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" [(ngModel)]="userDto.email" title="Enter your email"
        placeholder="Email" />

      <label class="form-label">Password</label>
      <input type="password" class="form-control" [(ngModel)]="userDto.password" title="Enter your password"
        placeholder="Password" />

    </div>
    <div class="form-group row spacingButton">
      <div class="col-md-6">
        <button class="btn btn-outline-success" (click)="login()">Ingresar</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-success" [routerLink]="['/accountCreate']">Crear Cuenta</button>
      </div>
    </div>

  </div>
</div>