<app-search-bar (_hotelesEmitter)="loadHotels($event)"></app-search-bar>

<div class="row">
  <span *ngFor="let item of _hoteles" class="col-md-3" style="margin: 20px">
    <app-card-hotel name="{{ item.name }}"
                    description="{{ item.description}}"
                    idHotel="{{item.id}}"
      image="{{item.pictures[0].path}}"></app-card-hotel>
  </span>
</div>

<ng-container *ngIf="isBodyVisible">
  <div class="row">
    <app-body-principal></app-body-principal>
  </div>
</ng-container>

