<div class="card" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">

        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>

        <p class="card-text">Estado: {{stateHotel}} <i style="color: red; font-size: medium;"
            class="bi bi-check-circle-fill"></i> </p>

        <p class="card-text">Habitaciones disponibles: {{availableRooms}}</p>
      </div>

    </div>
    <a class="btn btn-primary" style="margin: 3%;" [routerLink]="['/room', idHotel]">Habitaciones</a>
    <a href="/reserve/{{idHotel}}" class="btn btn-primary" (click)="setCurrentRoom()">Reservas</a>
  </div>
</div>
