<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Hotelis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <div class="marginUserName">
          <b>
            <label>{{userName}}</label>
          </b>
        </div>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/MisReservas']">Mis Reservas</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/miCuenta']">Mi Cuenta</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <ng-container *ngIf="isLoged === false">
              <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
            </ng-container>
            <ng-container *ngIf="isLoged === true">
              <a class="btn nav-link text-dark" [routerLink]="['/logout']">Logout</a>
            </ng-container>
          </li>
     
        </ul>
      </div>
    </div>
  </nav>
</header>