<div class="card text-center col-md-6">
  <div class="card-header">
    Proceder a pagar
  </div>
  <div class="card-body">
    <h5 class="card-title">{{description}}</h5>
    <div class="col-md-12 col-sm-12 spacing">


      <label class="form-label">Numero de tarjeta de credito</label>
      <input type="text" placeholder="1234-1231-2312-12131" class="form-control" />
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 spacing">
        <label class="form-label">Fecha de vencimiento</label>
        <input type="text" class="form-control" placeholder="mm/aa" aria-describedby="inputGroup-sizing-default" />
      </div>

      <div class="col-md-6 col-sm-3 spacing">
        <label class="form-label">Codigo de tarjeta</label>
        <input type="text" placeholder="789" class="form-control" />
      </div>
    </div>
    <div class="col-md-12 col-sm-12 spacing">
      <label class="form-label">Nombre del titular</label>
      <input type="text" class="form-control" />
    </div>

    <div class="col-md-3 col-sm-6 spacing position-relative">
      <button class="btn btn-outline-success form-control" [disabled]="disabledButtonPay" (click)="Checkout()">Pagar</button>
    </div>
  </div>

</div>
